/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-link {
  text-align: center;
  font-size: 30px;
  padding: 20px 0;
}

.nav-list {
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.nav-list-link {
  list-style: none;
  display: inline-block;
  padding: 15px 20px;
}

main {
  width: 800px;
  height: 600px;
  margin: 50px auto;
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.box-container1 {
  background-color: #e6ffe9;
  height: 200px;
  width: 200px;
}

.box-container2 {
  background-color: #cbffd3;
  height: 200px;
  width: 200px;
}


.box-container3 {
  background-color: #aeffbd;
  height: 200px;
  width: 200px;
}

.box-container4 {
  background-color: #93ffab;
  height: 200px;
  width: 200px;
}

.box-container5 {
  background-color: #f3ffd8;
  height: 200px;
  width: 200px;
}

.box-container6 {
  background-color: #edffbe;
  height: 200px;
  width: 200px;
}

.box-container7 {
  background-color: #e9ffa5;
  height: 200px;
  width: 200px;
}

.box-container8 {
  background-color: #e4ff8d;
  height: 200px;
  width: 200px;
}

.box-container9 {
  background-color: #d9e5ff;
  height: 200px;
  width: 200px;
}

.box-container10 {
  background-color: #bad3ff;
  height: 200px;
  width: 200px;
}

.box-container11 {
  background-color: #a4c6ff;
  height: 200px;
  width: 200px;
}

.box-container12 {
  background-color: #8eb8ff;
  height: 200px;
  width: 200px;
}

footer {
  background-color: gray;
  height: 120px;
  width: 100%;
}

.footer-logo {
  text-align: center;
}

.footer-logo-text {
  color: #fff;
  padding-top: 52px;
  font-size: 17px;
}
