/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  width: 100%;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 0 auto;
  display: flex;
}

.container {
  width: 300px;
  margin: 50px 30px 50px 0; 
  background-color: #eeeeee;
  position: relative;
  padding: 10px;
}

.container:last-child {
  margin-right: 0;
}

.span-title {
  background-color: #ff9a4b;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.img {
  height: 150px;
  background-size: cover;
  background-position: bottom;
  
}

.step1 {
  background-image: url(img/flow01.png);
}

.step2 {
  background-image: url(img/flow02.png);
}

.step3 {
  background-image: url(img/flow03.png);
}

.title {
  padding: 15px 0 5px 0;
}

footer {
  background-color: #aaaaaa;
  height: 50px;
  width: 100%;
}



/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
  main {
    display: block;
    width: 100%;
    margin: 50px 0;
  }
  
  .container {
    width: 90%;
    margin: 0 auto 20px; 
    
  }
  
  .container:last-child {
    margin: 0 auto;
  }
  
  .img {
    height: 150px;
  }
}
